<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC
        "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">


<mapper namespace="yuchen.core.sys.mapper.MemberMapper">
    
    <resultMap id="result" type="member">
        <id column="id" property="id" jdbcType="BIGINT" ></id>
        <result column="mobile" property="mobile" jdbcType="VARCHAR"></result>
        <result column="username" property="userName" jdbcType="VARCHAR"></result>
        <result column="displayname" property="displayName" jdbcType="VARCHAR"></result>
        <result column="img_url" property="imgUrl" jdbcType="VARCHAR"></result>
        <result column="password" property="password" jdbcType="VARCHAR"></result>
        <result column="address" property="address" jdbcType="VARCHAR"></result>
        <result column="sex" property="sex" jdbcType="INTEGER"></result>
        <result column="create_time" property="createTime" ></result>
        <result column="update_time" property="updateTime" ></result>
        <result column="remark" property="remark" jdbcType="VARCHAR"></result>
        <result column="status" property="status" jdbcType="INTEGER"></result>
        <result column="del_flag" property="delFlag" jdbcType="INTEGER"></result>
    </resultMap>
    
    <sql id="select_sql">
        SELECT id,mobile,username,displayname,sex,img_url,password,address,create_time,update_time,remark,status,del_flag
    </sql>

    <select id="queryPageList" resultMap="result">
        <include refid="select_sql" />
        FROM tb_member WHERE del_flag = 1
        <if test="query.id != null">
            AND id = #{query.id}
        </if>
        <if test="query.username != null">
            AND username = #{query.username}
        </if>
        <if test="query.mobile != null">
            AND mobile = #{query.mobile}
        </if>
        limit #{query.startRow},#{query.pageSize}
    </select>

    <select id="queryCountPage" resultType="java.lang.Integer">
        SELECT COUNT(1) FROM tb_member WHERE del_flag = 1
    </select>

    <select id="queryById" parameterType="long" resultMap="result">
        <include refid="select_sql"/>
        FROM tb_member WHERE id=#{id} AND del_flag = 1
    </select>

    <select id="queryByUsername" parameterType="string" resultMap="result">
        <include refid="select_sql" />
        FROM tb_member WHERE username=#{username} AND del_flag = 1
    </select>

    <select id="queryList" resultMap="result">
        <include refid="select_sql"/>
        FROM tb_member WHERE del_flag = 1
    </select>
    
    <insert id="insertMember" parameterType="member" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO tb_member(mobile,username,displayname,img_url,password,address,sex,create_time,update_time,remark,status,del_flag)
        VALUES (#{mobile},#{userName},#{displayName},#{imgUrl},#{password},#{address},#{sex},#{createTime},#{updateTime},#{remark},#{status},#{delFlag})
    </insert>

    <delete id="deleteMember" parameterType="long">
        DELETE FROM tb_member WHERE id=#{id}
    </delete>
    
    <update id="updateStatus">
        UPDATE tb_member SET status=#{status} WHERE id=#{memberid}
    </update>

    <update id="updateMember" parameterType="member">
        UPDATE tb_member
        <set>
            <if test="member.mobile != null">
                mobile = #{member.mobile,jdbcType=VARCHAR},
            </if>
            <if test="member.userName != null">
                username = #{member.userName,jdbcType=VARCHAR},
            </if>
            <if test="member.displayName != null">
                displayname = #{member.displayName,jdbcType=VARCHAR},
            </if>
            <if test="member.imgUrl != null">
                img_url = #{member.imgUrl,jdbcType=VARCHAR},
            </if>
            <if test="member.password != null">
                password = #{member.password,jdbcType=VARCHAR},
            </if>
            <if test="member.address != null">
                address = #{member.address,jdbcType=VARCHAR},
            </if>
            <if test="member.sex != null">
                sex = #{member.sex,jdbcType=INTEGER},
            </if>
            <if test="member.remark != null">
                remark = #{member.remark,jdbcType=VARCHAR},
            </if>
            <if test="member.status != null">
                status = #{member.status,jdbcType=INTEGER},
            </if>
            <if test="member.updateTime != null">
                update_time = #{member.updateTime},
            </if>
            <if test="member.delFlag != null">
                del_flag = #{member.delFlag},
            </if>
        </set>
        WHERE id=#{member.id}
    </update>

    <delete id="deleteBatch" >
        UPDATE tb_member SET del_flag = -1
        WHERE
        <foreach collection="ids" item="id" index="index" separator="OR" open="(" close=")">
            id=#{id}
        </foreach>
    </delete>
</mapper>